html {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 2px solid #c0c0c0;
}

.logo {
	background-color: #000000;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.navigation {
	display: flex;
	gap: 20px;
}

.black-text {
	color: #000000;
}

.phone {
	text-decoration: none;
}
