.footer {
	margin-top: auto;
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	text-align: center;
}

.footer__top {
	padding: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #d3cbd9;
}

.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}

.footer__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer__link-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	transition: color 0.2s;
}

.footer__link-item:hover {
	color: #3596ed;
}

.footer__copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}

@media (width <= 768px) {
	.footer__list {
		flex-direction: column;
		gap: 25px;
	}
}

@media (width <= 576px) {
	.footer {
		padding-top: 40px;
	}
}
