html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

a,
button {
	outline: none;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.button {
	display: inline-block;
	padding: 19px 32px;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #3596ed;
	transition:
		opacity 0.2s,
		background-color 0.2s;
}

.button:hover {
	opacity: 0.85;
	color: #fff;
}

.button:not(:disabled):active {
	background-color: #328ede;
}

button.button:disabled {
	opacity: 0.65;
	cursor: default;
}

.section {
	margin-bottom: 140px;
}

.title-large {
	max-width: 596px;
	margin-bottom: 40px;
	font-size: 48px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.title-medium {
	max-width: 596px;
	margin-bottom: 40px;
	font-size: 36px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.title-small {
	font-family: Oswald, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
	text-align: right;
}

.decor::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: calc(50% - 250px);
	height: 48px;
	background: url("../images/decor-icon.svg") repeat-x;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 2px;
}

@media (width <= 992px) {
	.container {
		max-width: 768px;
	}
}

@media (width <= 768px) {
	.container {
		max-width: 576px;
	}

	.title-medium {
		font-size: 32px;
	}

	.title-large {
		font-size: 40px;
		margin-bottom: 30px;
	}

	.home-page {
		text-align: center;
		max-width: inherit;
	}

	.title-small {
		font-size: 22px;
	}
}

@media (width <= 576px) {
	.section {
		margin-bottom: 80px;
	}

	.title-large {
		font-size: 34px;
	}

	.title-small {
		font-size: 18px;
	}
}
