.burger {
  margin-right: clamp(25px, 0.818rem + 3.72vw, 50px);
}

.burger--open {
  color: var(--main-color);
}

@media (width > 992px) {
  .burger {
    display: none;
  }
}

@media (width <= 992px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--layer-3);
    width: clamp(30px, 1.556rem + 1.31vw, 50px);
    height: auto;
    color: var(--link-color);
    transition: color var(--transition-time);
  }

  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
  }
}

.burger:active {
  color: var(--accent-color);
}

.burger__icon-menu {
  stroke: currentColor;
}

.burger__icon-cross {
  stroke: currentColor;
}
