.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-inline: 15px;
  background-color: var(--main-color);
  z-index: var(--layer-2);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(94px, 4.457rem + 5.82vw, 183px);
  height: auto;
  margin-right: clamp(20px, -0.754rem + 3.23vw, 50px);
}

@media (width <= 992px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    z-index: var(--layer-1);
    min-width: 241px;
    padding-top: 65px;
    padding-left: 39px;
    padding-right: 35px;
    background-color: var(--bg-color);
    box-shadow: 10px 0 30px var(--shadow-color);
    opacity: 0;
    visibility: hidden;
    transition:
      left var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__menu--open {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
}

@media (width <= 992px) {
  .header__action {
    margin-left: auto;
  }
}

.header__cart-button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: clamp(24px, 1.118rem + 1.57vw, 48px);
  height: auto;
  margin-left: auto;
  color: var(--link-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__cart-button:hover {
    color: var(--accent-color);
  }
}

.header__cart-button:active {
  color: var(--accent-color);
}

.header__cart-icon {
  stroke: currentColor;
}
